body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  overflow-wrap: break-word;
  user-select: none;
  background-image:linear-gradient(to bottom, rgba(185, 185, 185, 0), rgba(185, 185, 185, 0.432)),url("../img/Capa.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
}

.page {
  height: 100vh important!;
}
  
header {
  background-color: #003670;
  color: #fff;
  padding: 35px;
}
  
header h1 {
  margin: center;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  cursor: default;
  position: relative;
}

header h1::after{
  content: '';
  position: absolute;
  left: 0%;
  bottom: -5px;
  height: 4px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  z-index: 50;
  transition: 0.3s;
  transition-timing-function: ease-in-out;
  transform: scaleX(0);
}

header h1:hover::after{
  transform: scaleX(1);
}

.box{
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: rgba(255, 255, 255, 0.445);
  padding-left: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 25px;
  border-radius: 15px;
}
  
form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 20px auto;
  border-radius: 15px;
  border-color: #003670;
}
  
input[type="text"],
input[type="email"],
button[type="submit"] {
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
}
  
input[type="text"],
input[type="email"] {
  background-color: rgba(255, 255, 255, 0.658);
}
  
button[type="submit"] {
  background-color: #0056b3;
  color: #fff;
  cursor: pointer;
}
  
button[type="submit"]:hover {
  background-color: #003670;

}
  
main {             
  max-width: 900px;
  margin: 0 auto;
  padding: 10px;
}
  
section {
  margin-bottom: 40px;
}
  
h2 {
  font-size: 1.8em;
  margin-bottom: 20px;
}
  
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
  
li {
  margin-bottom: 10px;
}
  
iframe {
  width: 100%;
  height: 400px;
  border: none;
}
  
footer {
  background-color: #003670;
  color: #fff;
  text-align: center;
  padding: 20px;
}
  
#slideshow {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}
  
#slideshow img {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
  
#prevBtn,
#nextBtn {
  position: absolute;
  top: 1040px;
  transform: translateY(-50%);
  padding: 10px 20px;
  background-color: #0056b3;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
  
#prevBtn {
  left: 50px;
}
  
#nextBtn {
  right: 50px;
}